.searchBox {
    padding: 10px;
    background: lightblue;
    border:1px solid lightseagreen;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.search {
    text-align: center;
}